<!DOCTYPE html>
<html lang="en">
  <body>
    <fieldset>
      <legend>Drone fly zone violations</legend>
        <ul>
          {{#each dronePilot}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
    </fieldset>
  </body>
  <script>
    // reguest data from server every 2 seconds
    function liveUpdate() {
      setInterval( async function () {
        const response = await fetch('/api', {
          method: 'POST'
        });
        const result = await response.json();
        console.log(result);
      },2000);
    };
    // site is loaded and start live update
    document.addEventListener('DOMContentLoaded', 
      function () { liveUpdate(); });
  </script>
</html>