<html>
  <body>
    <fieldset>
      <legend>Drone fly zone violations</legend>
        <ul>
          {{#each dronePilot}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
    </fieldset>
  </body>
</html>