<!DOCTYPE html>
<html lang="en">
  <body>
    <fieldset>
      <legend>Drone fly zone violations</legend>
         <ol id="pilotList"></ol>
    </fieldset>
  </body>
  <script>
    // data format for a row
    function viewFormat(pilot) {
     return pilot.firstName + " " + pilot.lastName
        + " " + pilot.email + " " + pilot.phoneNumber;
    }
    // page is fully loaded
    document.addEventListener('DOMContentLoaded', function () 
    { 
      const pilotList = document.getElementById("pilotList");
      const LIST_TYPE = "li";
      const UPDATE_TIME = 2000;
      const pilotListElements = pilotList.getElementsByTagName(LIST_TYPE);
      var response;
      var update;
      var index;
      var listItem;

      // initial pilot list
      {{#each allPilots}}
        listItem = document.createElement(LIST_TYPE);
        listItem.innerText = viewFormat({
          firstName: "{{this.firstName}}".toString(),
          lastName:  "{{this.lastName}}".toString(),
          email:  "{{this.email}}".toString(),
          phoneNumber:  "{{this.phoneNumber}}".toString()
        });
        pilotList.appendChild(listItem);
      {{/each}}

      // reguest data from server every 2 seconds
      setInterval( function () 
      {
        // request data
        fetch('/api', {
          method: 'GET'
        }).then((response) => 
        {
          // get json
          response.json().then((update) =>
           {
            // remove old pilots from list
            update.removePilots.forEach((oldPilot) => {
              for (index = 0; index < pilotListElements.length; index++) {
                if ( viewFormat(oldPilot) == pilotListElements.item(index).innerHTML) {
                  pilotListElements.item(index).remove();
                }
              };
            });
            // add new pilots to list
            update.addPilots.forEach((newPilot) => {
              listItem = document.createElement(LIST_TYPE);
              listItem.innerText = viewFormat(newPilot);
              pilotList.appendChild(listItem);
            });
          }).catch((error) => console.log(error));
        }).catch((error) => console.log(error));
      },UPDATE_TIME);
  });
  </script>
</html>